<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <title>Sowhenthen</title>
  </head>
  <body>
    <div x-data="poll">
      <textarea name="json" x-model="json"></textarea>
      <p>
        <small>
          JSON is
          <template x-if="isValidJson(json)">
            <span>valid</span>
          </template>
          <template x-if="!isValidJson(json)">
            <mark>invalid</mark>
          </template>
        </small>
      </p>
      <button x-bind:disabled="!isValidJson(json)" @click="createPoll()">
        Create
      </button>
      <h1 x-text="title"></h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <template x-for="option in options">
              <th x-text="option"></th>
            </template>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dmitrii</td>
            <template x-for="option in options">
              <td>
                <input type="checkbox" name="test" checked />
              </td>
            </template>
          </tr>
          <tr>
            <td>Mark</td>
            <template x-for="option in options">
              <td>
                <input type="checkbox" name="test" />
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script>
      const initialJSON = `{
  "title": "What do you want for dinner?",
  "options": ["sushi", "pizza", "döner"]
}`;
      document.addEventListener("alpine:init", () => {
        Alpine.data("poll", () => ({
          json: initialJSON,
          lastParsedVal: JSON.parse(initialJSON),
          get parsed() {
            try {
              const p = JSON.parse(this.json);
              this.lastParsedVal = p;
              return p;
            } catch (err) {
              return this.lastParsedVal;
            }
          },
          get title() {
            return this.parsed.title;
          },
          get options() {
            return this.parsed.options;
          },
          async createPoll() {
            const res = await fetch("//localhost:8001/api/polls", {
              method: "POST",
              body: this.json,
            });
            const poll = await res.json();
            window.location.assign(`/${poll.id}`);
          },
        }));
      });

      function isValidJson(text) {
        try {
          JSON.parse(text);
          return true;
        } catch {
          return false;
        }
      }
    </script>
  </body>
</html>
